html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #896a83;
}

.phoneIcon {
  width: 30%;
  margin: auto;
}

.holder {
  max-width: 1222px;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
}

img.roommap,
map area {
  outline: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

img.roommap,
map area {
  outline: none;
}

.suspect {
  width: 30%;
  border-radius: 50%;
  margin: 1%;
}

.suspect:hover {
  animation-name: select;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes select {
  0% {
    width: 31%;
  }

  50% {
    width: 32%;
  }

  100% {
    width: 31%;
  }
}

.navButton {
  background-color: red;
  height: 40px;
  border: 0;
  border-radius: 10px;
  width: 100px;
  margin: 10px;
  background-color: #4972a5;
  color: wheat;
}

.navButton:hover {
  background-color: rgb(197, 0, 0);
}

#revealButton {
  background-color: red;
  height: 40px;
  border: 0;
  border-radius: 10px;
  width: 100px;
  margin: 10px;
  background-color: #4972a5;
  color: wheat;
}

#revealButton:hover {
  background-color: rgb(197, 0, 0);
}
